.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerSearch {
    display: block;
    text-align: -webkit-center; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
